.App {
  text-align: center;
}

html {
  --section-background-color: black;
  --image-gradient: black;
}

.red {
  color: rgb(203, 58, 36) !important;
}

a.btn.btn-info.btn-lg {
  color: white;
  background-color: rgb(203, 58, 36);
}
